/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;

  overflow: hidden;
}

 /* Hiding the logo */
  .logo {
    display: none !important;
  }

  /* Hiding the timeline selector if it has a specific class */
  .gsap-timeline-selector {
    display: none !important;
  }